//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Montserrat-Bold', 'Montserrat', 'Montserrat-Bold',  normal, normal)
webfont('Montserrat-ExtraBold', 'Montserrat', 'Montserrat-ExtraBold',  normal, normal)
webfont('Montserrat-Regular', 'Montserrat', 'Montserrat-Regular',  normal, normal)
webfont('Montserrat-SemiBold', 'Montserrat', 'Montserrat-SemiBold',  normal, normal)


webfont('SourceSansPro-Regular', 'SourceSansPro', 'SourceSansPro-Regular',  normal, normal)
webfont('SourceSansPro-Bold', 'SourceSansPro', 'SourceSansPro-Bold',  normal, normal)
webfont('SourceSansPro-SemiBold', 'SourceSansPro', 'SourceSansPro-SemiBold',  normal, normal)



