{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo height-100vh row align-vertical-center gutter-bottom">
				<div class="container">
					<div class="block-404">
						<div class="row align-vertical-end align-horisontal-between block-404__row">
							
							<div class="block-404__blockquote--col">
								<span class="block-404__error">404</span>

								<blockquote class="block-404__blockquote">
									<p>«гарний дизайн — якомога менше дизайну»</p>
									<footer>
										<cite>дитер рамс</cite>
									</footer>
								</blockquote>
							</div>

							<div class="block-404__text">
								<p>Але на цій сторінці взагалі немає нічого, що ви шукаєте. Тому дизайну не існує зовсім.<br>Спробуйте з <a href="index.html">початку</a>.</p>
							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>