{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo height-100vh row align-vertical-center">
				<h1 class="w3c">Наши роботи</h1>
				<div class="container">
					<div class="promo-block">
						<blockquote class="blockquote">
							<p class="title"><strong>Зміст передує дизайну.</strong><br>Дизайн без змісту —<br>це художнє оформлення</p>
							<footer>
								<cite>Джеффрі Зельдман</cite>
							</footer>
						</blockquote>
						
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__projects gutter-bottom">
				<div class="container container-wide">
					<div class="row align-horisontal-start projects__row">
						{% include '../parts/components/project-cards.html' %}
						{% include '../parts/components/project-cards.html' %}
						{% include '../parts/components/project-cards.html' %}
					</div>

					<div class="text-center permalink__wrapper">
						<a href="page-projects.html" class="btn">ще проєкти</a>
					</div>
				</div>
				<!-- //container -->
			</section>

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>