{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo height-100vh row align-vertical-center">
				<div class="container">
					<div class="promo-block">
						<h1 class="title"><strong>Створюємо послідовні рішення</strong> у сфері брендингу та візуальних маркетингових комунікацій</h1>
						<a href="page-about.html" class="btn">хто ми є?</a>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__projects gutter-bottom">
				<div class="container container-wide">
					<div class="row align-horisontal-start projects__row">
						{% include '../parts/components/project-cards.html' %}
						{% include '../parts/components/project-cards.html' %}
						{% include '../parts/components/project-cards.html' %}
					</div>

					<div class="text-center permalink__wrapper">
						<a href="page-projects.html" class="btn">ще проєкти</a>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__slogan">
				<div class="container">
					<div class="description">
						<p><b>емоції та почуття</b> — основа усього. люди, які викликають у нас сильні почуття, залишаються з нами надовго. Те саме з брендами. Щоб продукт любили і купували, потрібен емоційний зв'язок між компанією і клієнтом. Цієї мети ми успішно досягаємо.</p>
					</div>

					<h2 class="slogan">ви створюєте круті продукти.<br>а ми створюємо для них<br>круту комунікацію.</h2>
					
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		<!-- Preloader -->
		{% include '../parts/components/preloader.html' %}
		<!--// Preloader -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>