{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo sect__promo--services height-100vh row align-vertical-center accent-bg">
				<h1 class="w3c">Наші послуги</h1>
				<div class="container">
					<div class="promo-block">
						<h2 class="heading"><span>дивуємо</span><br>ефективно</h2>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__services gutter-top">
				<div class="container">
					<div class="services">
						<div class="services-block gutter-bottom">
							<div class="row align-vertical-start align-horisontal services-block__row row-gutters">
								<h2 class="services-block__title col-w-50 col-gutters"><span>З чим ми<br>працюємо</span></h2>

								<div class="services-block__content col-w-50 col-gutters">
									<div class="services-block__content--item">
										<div class="services-block__content--item_text">
											<ul>
												<li>Вийти на ринок, створити<br>і запустити новий бренд</li>
											</ul>
										</div>
									</div>

									<div class="services-block__content--item">
										<div class="services-block__content--item_text">
											<ul>
												<li>Зовні відобразити зміни<br>компанії або продукту</li>
											</ul>
										</div>
									</div>

									<div class="services-block__content--item">
										<div class="services-block__content--item_text">
											<ul>
												<li>Збільшити ефективність<br>комунікації з потрібною<br>аудиторією</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="services-block gutter-bottom">
							<div class="row align-vertical-start align-horisontal services-block__row row-gutters">
								<h2 class="services-block__title col-w-50 col-gutters"><span>Що ми<br>для цього робимо</span></h2>

								<div class="services-block__content col-w-50 col-gutters">
									<div class="services-block__content--item">
										<h3 class="services-block__content--item_title">Комунікація</h3>
										<div class="services-block__content--item_text">
											<ul>
												<li>Аналіз бренду і комунікації</li>
												<li>Стратегія бренду</li>
												<li>Позиціонування</li>
												<li>Назва</li>
												<li>Архітектура бренду</li>
												<li>тон комунікації</li>
												<li>Брендбук</li>
											</ul>
										</div>
									</div>

									<div class="services-block__content--item">
										<h3 class="services-block__content--item_title">Візуальне</h3>
										<div class="services-block__content--item_text">
											<ul>
												<li>Логотип, фірмовий стиль</li>
												<li>Комунікаційні матеріали</li>
												<li>Друковані матеріали</li>
												<li>Презентація</li>
												<li>Упаковка</li>
											</ul>
										</div>
									</div>

									<div class="services-block__content--item">
										<h3 class="services-block__content--item_title">Інтерактив</h3>
										<div class="services-block__content--item_text">
											<ul>
												<li>Сайт, соціальні медіа</li>
												<li>інтернет-магазини</li>
												<li>тестування</li>
												<li>Стандарти і правила</li>
												<li>Авторський нагляд</li>
												<li>Впровадження і підтримка</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="services-block gutter-bottom">
							<div class="row align-vertical-start align-horisontal services-block__row row-gutters">
								<h2 class="services-block__title col-w-50 col-gutters"><span>Віримо в силу знань та емоцій. любимо те, що робимо</span></h2>

								<div class="services-block__content col-w-50 col-gutters">
									<div class="services-block__content--item">
										<div class="services-block__content--item_text">
											<p>Ми вважаємо, що комунікаційний дизайн — це математична творчість. Логічне рішення проблеми в поєднанні з естетичним підходом неодмінно дає вірний результат.<br>За допомогою досліджень та моделювання брендів ми створюємо послідовні та виразні комунікації.  Пропонуємо переглянути наші <a href="page-projects.html"><b>обрані роботи</b></a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>


			<section class="sect__slogan sect__slogan--services">
				<div class="container">
					<div class="description">
						<p>Найпростіший спосіб докладніше дізнатися, як ми працюємо —<br><a href="#contacts"><b>зв'язатися з нами</b></a> будь-яким зручним способом або<br>домовитися про зустріч.</p>
					</div>

					
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>