{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="project gutter-bottom">
				<div class="project-header">
					<img src="img/projects/single/promo.jpg" alt="">
				</div>

				<div class="project-body">

					<div class="project-body__entering gutters">
						<div class="container">

							<h1 class="project__title">Ювілейна виставка та книжкова серія Vestre</h1>

							<div class="row">
								<div class="content">
									<p>Но так сложилось, что украинцы воспринимают продукты из других стран, будто деликатесы. «Prodotto in Italia» вызывает куда больше чувств, чем «Вироблено в Броварах». Убедить наших водителей в том, что украинский бренд может быть равен европейским, оказалось нетривиальной задачей.</p>
									<p>Стратегией бренда стал «честный Продукт». Купить продукты Vira значит быть уверенным, что получаешь ровно то, за что платишь — качественный продукт по доступной цене. </p>
								</div>

								<div class="project__tags hidden-mobile">
									<ul>
										<li>#рекламний принт</li>
										<li>#концепти журналів</li>
										<li>#поліграфія</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //container -->


					</div>


					

					<div class="project-description gutter-bottom">
						<!-- Fluid img -->
						<div class="project-img-fluid gutter-bottom">
							<div class="container container-wide">
								<img src="img/projects/single/1.jpg" alt="">
							</div>
						</div>
						<!-- //Fluid img -->

						<div class="project-description__content">
							<div class="container container-wide">

								<div class="row align-vertical-center row-nowrap">
									<div class="project-description__img">
										<img src="img/projects/single/2.jpg" alt="">
									</div>

									<div class="project-description__text">
										<div class="content">
											<h2>Книжкова серія —<br>насичений мікс<br>фото та тексту </h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //project block -->

					<div class="project-description gutter-bottom">
						<!-- Fluid img -->
						<div class="project-img-fluid gutter-bottom">
							<div class="container container-wide">
								<img src="img/projects/single/3.jpg" alt="">
							</div>
						</div>
						<!-- //Fluid img -->

						<div class="project-description__content">
							<div class="container container-wide">

								<div class="row align-vertical-center row-nowrap">
									<div class="project-description__img">
										<img src="img/projects/single/4.jpg" alt="">
									</div>

									<div class="project-description__text">
										<div class="content">
											<h2>Виставка Verste в галереї DOGA</h2>
											<p>Стратегией бренда стал «честный Продукт». Купить продукты Vira значит быть уверенным, что получаешь ровно то, за что платишь — качественный продукт по доступной цене.</p>
											<p>Ты заходишь в автомагазин и даже не спрашиваешь про срок годности или дешевые заменители, а просто берешь знакомую канистру. Потому что знаешь, что там все ок.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //project block -->

					<div class="project-description project-description__reverse gutter-bottom">
						<!-- Fluid img -->
						<div class="project-img-fluid gutter-bottom">
							<div class="container container-wide">
								<img src="img/projects/single/5.jpg" alt="">
							</div>
						</div>
						<!-- //Fluid img -->

						<div class="project-description__content">
							<div class="container container-wide">

								<div class="row align-vertical-center row-nowrap">
									<div class="project-description__img">
										<img src="img/projects/single/6.jpg" alt="">
									</div>

									<div class="project-description__text">
										<div class="content">
											<h2>На перфорованих<br>пластинах зображені<br>меблі Vestre та люди<br>в натуральну величину</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //project block -->


					<div class="project-description gutter-bottom">
						<!-- Fluid img -->
						<div class="project-img-fluid">
							<div class="container container-wide">
								<img src="img/projects/single/7.jpg" alt="">
							</div>
						</div>
						<!-- //Fluid img -->
					</div>
					<!-- //project block -->
					
				</div>

				<div class="next-project">
					<div class="container container-wide">
						<div class="row align-horisontal-between next-project__row row-nowrap">
							<div class="next-project__content">
								<h2 class="next-project__content--title">наступний проєкт</h2>

								<div class="next-project__description">
									<h3 class="next-project__title"><a href="page-project.html">on clinic</a></h3>
									<p>Створення єдиної системи стилю</p>
								</div>
							</div>

							<a href="page-project.html" class="next-project__thumbnail thumbnail">
								<img src="img/projects/single/5.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</section>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>