{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo height-100vh row align-vertical-center accent-bg">
				<h1 class="w3c">хто ми є</h1>
				<div class="container">
					<div class="promo-block">
						<h2 class="heading">less<br>is more!</h2>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__about gutters">
				<div class="about-us gutter-bottom">
					<div class="container">
						<div class="row align-vertical-start about-us__row align-horisontal-between">
							<h2 class="sect-title">агенція</h2>

							<div class="content about-us__text">
								<p>Ми — група креативних людей з палаючим серцем, небайдужих до результатів. Допомагаємо компаніям виходити на ринок, змінюватися на краще і взаємодіяти з потрібною аудиторією. Знаходимо продумані, ефектні та ефективні рішення в області брендингу та візуальних комунікацій.</p>

								<h3>Нас небагато, але ми знаємо як.<br>less is more — у цьому наша ефективність</h3>
							</div>
						</div>
					</div>
					<!-- //container -->
				</div>

				<div class="manifesto accent-bg gutters" style="background-image: url('img/backgrounds/about-bg.png');">
					<div class="container">
						<h2 class="sect-title">маніфест</h2>

						<div class="row align-horisontal-start manifesto-items__row">
							<div class="manifesto-item__col col-w-50">
								<div class="manifesto-item">
									<span class="manifesto-item__count">01</span>
									<p>Якщо клієнт не відповість на питання «Навіщо?», ми не допоможемо.</p>
								</div>
							</div>

							<div class="manifesto-item__col col-w-50">
								<div class="manifesto-item">
									<span class="manifesto-item__count">02</span>
									<p>Працюємо лише<br>з власниками бізнесу.</p>
								</div>
							</div>

							<div class="manifesto-item__col col-w-50">
								<div class="manifesto-item">
									<span class="manifesto-item__count">03</span>
									<p>Завжди логічні<br>у створенні та захисті<br>нашої роботи.</p>
								</div>
							</div>

							<div class="manifesto-item__col col-w-50">
								<div class="manifesto-item">
									<span class="manifesto-item__count">04</span>
									<p>Не сприймаємо<br>«смаківщину»</p>
								</div>
							</div>

							<div class="manifesto-item__col col-w-50">
								<div class="manifesto-item">
									<span class="manifesto-item__count">05</span>
									<p>Вміємо казати<br>«ні».</p>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</div>

				<div class="about-us__statistics gutter-top">
					<div class="container">
						<div class="row row-gutters">
							<div class="about-us__statistic--col col-w-50 col-gutters">
								<div class="about-us__statistic">
									<span class="about-us__statistic--count">400+</span>
									<p>реалізованих проектів у різних сферах бізнесів</p>
								</div>
							</div>
							<div class="about-us__statistic--col col-w-50 col-gutters">
								<div class="about-us__statistic">
									<span class="about-us__statistic--count">30+</span>
									<p>сумарний досвід колективу у професійній сфері</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="sect__slogan sect__partners">
				<div class="container">
					<h2 class="slogan">з ким працюємо<br>та працювали</h2>

					<div class="description">
						<p>АВАНТАЖ, SYMBOL, МЕТАЛІСТ 1925, BALDESARINI, UKRANIAN FASHION WEEK, RED CAT, FITDAY, GULIVER, KING, GYM4FIT, ON CLINIC, NADYA DZYAK, INVINO, RED CAT BREWERY, PAN, KHARKІV AIRPORT, FASHION OFFICE, K.RUTMAN та інші.</p>
					</div>

				</div>
				<!-- //container -->
			</section>

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>