<nav class="nav js-mobile-menu">
	<ul class="nav__list">
		<li><a href="page-about.html">хто ми є?</a></li>
		<li><a href="page-portfolio.html">роботи</a></li>
		<li><a href="page-services.html">послуги</a></li>
		<li class="js-smooth-scroll-link"><a href="#contacts">контакти</a></li>
	</ul>

	<ul class="languages hidden-desktop visible-mobile">
		<li class="languages__item"><a href="#" class="languages__link is-active">UA</a></li>
		<li class="languages__item"><a href="#" class="languages__link">EN</a></li>
	</ul>
</nav>
