<!-- Project card -->
<div class="project-card__col ">
	<article class="project-card">
		<a href="page-project.html" class="project-card__thumbnail thumbnail">
			<img src="img/projects/card-1.jpg" alt="">
		</a>
		<h2 class="project-card__title"><a href="page-project.html">RED CAR BREWERY</a></h2>
		<p class="project-card__preview">Ребрендинг та створення єдиної системи стилю</p>
	</article>
</div>
<!-- //Project card -->

<!-- Project card -->
<div class="project-card__col ">
	<article class="project-card">
		<a href="page-project.html" class="project-card__thumbnail thumbnail">
			<img src="img/projects/card-2.jpg" alt="">
		</a>
		<h2 class="project-card__title"><a href="page-project.html">TOTAL WHITE</a></h2>
		<p class="project-card__preview">Створення візуального стилю та характеру бренду</p>
	</article>
</div>
<!-- //Project card -->

<!-- Project card -->
<div class="project-card__col">
	<article class="project-card">
		<a href="page-project.html" class="project-card__thumbnail thumbnail">
			<img src="img/projects/card-3.jpg" alt="">
		</a>
		<h2 class="project-card__title"><a href="page-project.html">пан</a></h2>
		<p class="project-card__preview">Оновленя айдентики та створення фірмого стилю</p>
	</article>
</div>
<!-- //Project card -->