

.form
	&__wrapper
		flex 1
		width 100%
		max-width 450px
		min-width 320px
		
	.btn
		width 100%
		max-width 220px
	&-input
		display block
		width 100%
		padding 19px 20px
		line-height 17px
		text-align left
		border 2px solid $basic-black-color
		font 16px $MItalic
		color $text-color
		&:hover,
		&:focus
			border-color $accent-color
		&::-webkit-input-placeholder
			font 14px $MItalic
			color $text-color
		&::-moz-placeholder
			font 14px $MItalic
			color $text-color
		&:-moz-placeholder
			font 14px $MItalic
			color $text-color
		&:-ms-input-placeholder
			font 14px $MItalic
			color $text-color
			
		&.is-error
			border-color red
			
	&-group
		position relative
		margin-bottom 30px
		&:last-child
			margin-bottom 0
			
		&__label
			display inline-block
			margin-bottom 5px
			
	&-textarea
		min-height 200px
		
	&-file
		display inline-block
		position relative
		cursor pointer
		padding-left 39px
		&:before
			pseudo()
			position absolute
			vertical-center()
			left 0
			width 24px
			height 24px
			background url('../img/icons/svg/file.svg') no-repeat / contain
		input
			display none
			
		&__text
			display inline
			border-bottom 1px solid
			font 14px $MItalic
			transition color .17s ease-in-out
		&__name
			display none
			position absolute
			top 100%
			left 0
			margin-top 5px
			font 12px $MItalic
			pointer-events none
			&.is-active
				display inline-block
			
		&:hover
			color $accent-color
			.form-file__name
				color $text-color
			
			
	



.form
	&-checkbox
		display inline-block
		position relative
		padding-left 25px
		font 1em $Reg
		line-height 1
		color $text-color
		&:before
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 0
			vertical-center()
			border-radius 2px
			width 16px
			height 16px
			border 1px solid $text-color
			background-position 50% 50%
			background-repeat no-repeat
			background-size 12px 12px
			
		&__label
			display inline-block
			input
				display none
				&:checked
					+ span
						&:before
							background-color $text-color
							background-image url('../img/icons/svg/checkbox-ic.svg')
							
.form
	&-radio
		display inline-block
		position relative
		padding-left 25px
		font 1em $Reg
		line-height 1
		color $text-color
		&:before
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 0
			vertical-center()
			border-radius 50%
			width 16px
			height 16px
			border 1px solid $text-color
		&:after
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 2px
			top 2px
			width 12px
			height 12px
			border-radius 50%
			background-color $text-color
			display none
			

			
		&__label
			display inline-block
			input
				display none
				&:checked
					+ span
						&:after
							display block


