.languages
	li
		display inline-block
		margin-right 26px
		&:last-child
			margin-right 0
		&.current-lang
			a
				font-family $SBold
	a
		text-transform uppercase
		font 18px $SReg
		color $text-color
		&:hover
			opacity .75
			
	
			
.alm-reveal
	display flex
	justify-content flex-start
	margin-left -10px
	margin-right -10px
	flex-wrap wrap