.languages
	&__item
		display inline-block
		margin-right 26px
		&:last-child
			margin-right 0
	&__link
		text-transform uppercase
		font 18px $SReg
		color $text-color
		&:hover
			opacity .75
			
		&.is-active
			font-family $SBold
			
.alm-reveal
	display flex
	justify-content flex-start
	margin-left -10px
	margin-right -10px
	flex-wrap wrap