<section class="sect__form">
	<div class="container">
		<div class="row align-vertical-start align-horisontal-between form__row">
			<h2 class="form__title">давайте<br>працювати</h2>

			<div class="form__wrapper">
				<form class="form" enctype="multipart/form-data">
					<!-- Hidden inputs -->
					<input type="hidden" name="project_name" value="Tato.agency">
					<input type="hidden" name="admin_email" value="email@email">
					<input type="hidden" name="form_subject" value="Contact form">
					<!-- // Hidden inputs -->

					<div class="form-group">
						<input type="text" class="form-input js-required-input" name="name" placeholder="Як вас звати?">
					</div>

					<div class="form-group">
						<input type="tel" class="form-input js-required-input" name="phone" placeholder="Тел. +38 (_ _ _)  _ _ _ - _ _ - _ _">
					</div>

					<div class="form-group">
						<input type="email" class="form-input" name="email" placeholder="Email">
					</div>

					<div class="form-group">
						<label class="form-file">
							<input type="file"  name="fileFF[]">
							<span class="form-file__text">Додати документ або презентацію</span>
							<span class="form-file__name">Обрано файл: </span>
						</label>
					</div>

					<button class="btn btn-accent" type="submit">надіслати</button>
				</form>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>