.heading
	font 96px $MExBold
	line-height 100%
	text-transform uppercase
	span
		font-family $MReg
	

.about-us__text
	max-width 640px
	
.sect__partners
	.slogan
		margin-top 0
		margin-bottom 60px
	.description
		font-size 30px
		line-height 37px
		
.manifesto
	background-position right bottom
	background-repeat no-repeat
	background-size auto
	.sect-title
		margin-bottom 60px
	&-items__row
		max-width 780px
		margin-left -30px
		margin-right -30px
	
	&-item
		display flex
		align-items flex-start
		justify-content flex-start
		font 20px $SReg
		line-height 24.5px
		&__col
			padding 0 30px 40px
	
		
		&__count
			text-transform uppercase
			font 36px $MExBold
			display inline-block
			margin-right 25px
			

.about-us
	&__statistic
		max-width 295px
		font 24px $MMed
		line-height 28px
		p
			margin-top 30px 
		&--count
			font 96px $MBold
			line-height 1
			
		&--col
			display flex
			justify-content center