.promo-block
	max-width 970px
.title
	text-transform uppercase
	font 46px $MReg
	line-height 110%
	margin-bottom 60px
	strong, b
		font-family $MExBold
		
.permalink__wrapper
	margin-top 20px
	

.sect__slogan
	padding-bottom 150px
.description
	text-transform uppercase
	font-size 22px
	line-height 30px
	font-family $MReg
	b, strong
		font-family $MBold
		
.slogan
	text-transform uppercase
	font 36px $MExBold
	line-height 34px
	margin-top 60px
	&-main
		max-width 700px
		
// Sect form
.sect__form
	padding-bottom 150px
	
.form__title
	font 64px $MExBold
	line-height 1
	text-transform uppercase
	max-width 500px
	margin 0 30px 50px 0