.blockquote
	footer
		margin-top 60px
	cite
		text-transform uppercase
		font 18px $MMed
		

.project
	padding-top 69px
	&__title
		text-transform uppercase
		font 36px $MExBold
		line-height 37px
		margin-bottom 60px
		max-width 585px
		
	&-body
		&__entering
			.content
				font-size 20px
				line-height 25px
				flex 1
				padding-right 160px
				
			p
				margin-bottom 35px
				max-width 100%
				
	&__tags
		max-width 410px
		ul
			display flex
			justify-content flex-start
			font 20px $SSemiBold
			flex-wrap wrap
			line-height 25px
		
			li
				margin 0 25px 2px 0
				

.project-description
	&:last-child
		padding-bottom 0
		
	&__img
		flex 1
	
		
	&__text
		flex 1
		display flex
		justify-content center
		padding-left 20px
		
		.content
			max-width 500px
			*
				&:last-child
					margin-bottom 0
			p
				margin-bottom 35px
				
	&__reverse
		.project-description
			&__text
				order 1
				padding-left 0
				padding-right  20px
			&__img
				order 2

.project-img-fluid
	&:last-child
		padding-bottom 0


.next-project
	margin-top 120px
	&__thumbnail
		flex 1
		width 100%
		max-width 855px
		padding-top 35%
	&__content
		display flex
		flex-direction column
		justify-content space-between
		padding-right 50px
		max-width 450px
		p
			font-size 24px
			margin-top 5px
		&--title
			text-transform uppercase
			max-width 220px
			font 24px $MExBold
			line-height 26.28px
			margin-bottom 30px
			
	&__title
		text-transform uppercase
		font 36px $SBold
		line-height 45px
		a
			color inherit
			&:hover
				color $accent-color