.block-404
	&__text
		width 240px
		font 18px $SReg
		line-height 22px
		a
			color $text-color
			border-bottom 1px solid
			&:hover
				border-color transparent
				
	&__blockquote
		margin-top 90px
		p
			font 64px $MExBold
			line-height 100%
			text-transform uppercase
		footer
			margin-top 50px
		cite
			text-transform uppercase
			font 18px $MMed
			
		&--col
			flex 1
			padding-bottom 65px
			
	&__error
		text-transform uppercase
		font 144px $MExBold
		line-height 100%
		