// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/
+max-screen(1700px)
	.manifesto

		&-items__row
			max-width 580px
			
+max-screen(1300px)
	.nav
		li
			&:last-child
				position relative
				right auto
	
	.manifesto
		background-size 650px
		

+max-screen(1100px)
	.nav
		li
			margin-right 31px
			
	.project-card
		&__title
			font-size 20px
			line-height 24px
			
	.block-404
		&__row
			flex-wrap wrap
		&__text
			width 100%
			p
				max-width 240px
				
		&__blockquote
			margin-top 60px
	

	// Project
	.project-body__entering 
		.content
			flex none
			width 100%
			padding-right 0
			
	.project__tags
		margin-top 50px
		max-width 100%
		
+max-screen(1000px)
	.about-us__row
		flex-wrap wrap
		.sect-title
			width 100%
			margin-bottom 40px
			
	.manifesto-items__row
		max-width 100%
		
	.manifesto
		padding-bottom 350px
			
			
+max-screen(767px)
	.container
		padding-left 20px
		padding-right 20px
		
	.hidden-mobile
		display none
		
	.visible-mobile
		display block
		
	.header
		position fixed
		padding 15px 0
		top 0
		background-color $basic-white-color
		.logo
			position relative
			z-index 6
		
	.nav
		position fixed
		top 0
		left 0
		width 100%
		min-height 100vh
		margin-left 0
		background-color $basic-white-color
		z-index 5
		overflow-y auto
		
		display flex
		flex-direction column
		justify-content center
		
		padding 150px 20px 80px 20px
		
		transition all .17s ease-in-out
		transform translateX(105%)
		will-change transform
		
		&.is-opened
			transform translateX(0)
		
		&__list
			overflow hidden
			margin-right -20px
			li
				display block
				margin-right 0
				margin-bottom 30px
				text-align left
				&:last-child
					margin-bottom 0
					
				&.is-active
					a
						&:before
							width 100%
					
			a
				padding-bottom 15px
				position relative
				display inline-block
				font-size 20px
				&:before

					width 1000%
					
				
		.languages
			margin-top 75px
			text-align left
			&__link
				font-size 12px
				
	.title
		font-size 36px
		
	.btn-hamburger
		display inline-block
		

	.project-card
		&__col
			width 100%
			flex 1 0 50%
	
	.project
		padding-top 69px
		
		&-description
			&__content
				.row
					flex-wrap wrap
					
			&__text
				flex none
				width 100%
				padding-left 0
				
				.content
					max-width 100%
					width 100%
					
	.project-img-fluid
		.container
			padding-left 0
			padding-right 0
		
+max-screen(700px)
	.description
		font-size 20px
		line-height 27px
		
	.slogan
		font-size 26px
		line-height 26px
		margin-top 40px
		
	.sect__slogan
		padding-bottom 100px
		
	.footer__col
		width 100%
		margin-bottom 60px
		text-align center
		&:last-child
			margin-bottom 0
			
	.phones
		a
			font-size 24px
			line-height 29px
			flex none
			
	.mail-link
		font-size 18px
		
	.footer
		.socials
			margin-top 30px
			
	.presentation
		font-size 18px
		line-height 21px


	.block-404
		&__error
			font-size 72px

		&__text
			font-size 14px
			line-height 17px
			p
				max-width 190px
				
		&__blockquote
			margin-top 30px
			p
				font-size 36px
			footer
				margin-top 30px
			cite
				font-size 14px
			&--col
				padding-bottom 0
				margin-bottom 50px
				
	.about-us
		&__statistic
			&--col
				width 100%
				margin-bottom 40px
				justify-content flex-start
				&:last-child
					margin-bottom 0

+max-screen(620px)
	.title
		font-size 26px
		margin-bottom 30px
		
	.gutter
		&-bottom
			padding-bottom 60px
		&-top
			padding-top 60px
			
	.blockquote
		.title
			font-size 30px
			
		footer
			margin-top 40px
		cite
			font-size 16px
			
	.heading
		font-size 72px
		line-height 67px
		
	.sect-title
		font-size 26px
		line-height 32px
		margin-bottom 40px
		
	.content
		p
			font-size 16px
			line-height 19.5px
			margin-bottom 20px
			
		h3
			font-size 22px
			
	.sect__partners 
		.description
			font-size 22px
			
		.slogan
			margin-bottom 40px
			

	.manifesto-items__row
		max-width 100%
		
	.manifesto
		background-size 320px
		padding-bottom 230px
		padding-top 60px
		.sect-title
			margin-bottom 30px
		&-item
			font-size 16px
			line-height 19.5px
			&__count
				font-size 30px
				margin-right 20px
			&__col
				width 100%
				padding-bottom 0
				margin-bottom 30px
				&:last-child
					margin-bottom 0
					
	
		

	.about-us
		&__statistic
			font-size 20px
			line-height 22px
			p
				margin-top 20px
			&--count
				font-size 72px
				

	.gutters
		padding 60px 0
		

	.project
		&__title
			font-size 26px
			margin-bottom 30px
			
	.content
		h2,h3
			font-size 22px
			line-height 23px
			margin-bottom 40px

+max-screen(500px)
	.project-card
		&__col
			width 100%
			flex 1 0 100%
			padding-bottom 0
			margin-bottom 40px
			&:last-child
				margin-bottom 0
				
	.permalink__wrapper
		margin-top 60px
		
+max-screen(400px)
	.permalink__wrapper
		.btn
			width 100%
